.container {
    background: #aeecd7;
    border: #122d3f solid 2px;
    border-radius: 5px;
}

.buttonInfo{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.forPost{
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 200px;
    background: lightblue;
    border: #122d3f solid 1px;
    border-radius: 5px;
    box-shadow: #d7cccc 5px 5px 15px 5px;
}

.postContainer:hover {
    background: #a6e7df;
}

.infoPost {
    align-items: center;
    justify-content: center;
    width: 150px;
}