.title {
    padding-left: 45%;
}

.container {
    background: #aeecd7;
    border: #122d3f solid 2px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 15px;
}

.buttonInfo{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.forPost{
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 450px;
    justify-content: space-between;
    align-items: center;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    box-sizing: border-box;
    background: lightblue;
    border: #122d3f solid 1px;
    border-radius: 5px;
    box-shadow: #d7cccc 5px 5px 15px 5px;
    padding: 15px;
}

.postContainer:hover {
    background: #a6e7df;
}

.infoPost {
    align-items: center;
    justify-content: center;
    width: 150px;
}